/.git

/resources/fonts
/resources/js
/resources/css
/resources/scss

.editorconfig
.env*
.gitattributes
.gitignore
.gitlab-ci.yml
.nvmrc

Dockerfile
docker-compose.yml
package*.json
*.config.js

/*.md
